<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
	<script src="../static/js/book.js" th:src="@{/js/book.js}"></script>
</head>
<body>
<div th:if="${check}" class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>登録完了</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<header>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<div class="add-book-top">
			<p class="add-book-theme">Register your books</p>
			<div class="search-book-for-add">
	    		<input id="book-name" type="text" name="book-name" placeholder="book's name">	　　
				<button id="book-button" class="lead">Search</button>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="table-responsive">
		<br>
			<table id="book-list">
			</table>
		</div>
	</div>				
</div>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>